<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>sneaker_sneakerBeer</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="keywords"/>
    <meta content="" name="description"/>

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon"/>
    <!-- Google Web Fonts -->
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}"/>
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin/>
    <link
            th:href="@{https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@700;900&display=swap}"
            rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
            th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css}"
            rel="stylesheet"
    />
    <link
            th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css}"
            rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->

    <link
            th:href="@{/dashboard/lib/animate/animate.min.css}"
            rel="stylesheet"
    />

    <!--    <link th:href="@{/../resources/dashboard/lib/animate/animate.min.css}" rel="stylesheet" />-->
    <link
            th:href="@{/dashboard/lib/owlcarousel/assets/owl.carousel.min.css}"
            rel="stylesheet"
    />

    <!--    <link th:href="@{/../resources/dashboard/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet" />-->

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/dashboard/css/boostrap.min.css}" rel="stylesheet"/>
    <!--    <link th:href="@{/../resources/dashboard/css/boostrap.min.css}" rel="stylesheet" />-->

    <!-- Template Stylesheet -->
    <!--    <link th:href="@{/../resources/dashboard/css/style.css}" rel="stylesheet" />-->
    <link th:href="@{/dashboard/css/style1.css}" rel="stylesheet"/>
</head>

<body>
<!-- Spinner Start -->
<div
        id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
>
    <div
            class="spinner-border text-primary"
            role="status"
            style="width: 3rem; height: 3rem"
    ></div>
</div>
<!-- Spinner End -->

<!-- Navbar Start -->
<div class="container-fluid bg-white sticky-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-2 py-lg-0">
            <a href="index.html" class="navbar-brand">

                <img class="img-fluid" th:src="@{/dashboard/img/index/logo1.png}" alt="Logo"/>

            </a>
            <button
                    type="button"
                    class="navbar-toggler ms-auto me-0"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <a th:href="@{/product/trang-chu}" class="nav-item nav-link ">Home</a>
                    <a th:href="@{/product/hien-thi}" class="nav-item nav-link ">Products</a>
                    <div class="nav-item dropdown">
                        <a
                                href="#"
                                class="nav-link dropdown-toggle"
                                data-bs-toggle="dropdown"
                        >Brand</a
                        >
                        <div class="dropdown-menu bg-light rounded-0 m-0">
                            <a th:href="@{/product/nike}" class="dropdown-item">NIKE</a>
                            <a th:href="@{/product/converse}" class="dropdown-item">CONVERSE</a>
                            <a th:href="@{/product/mlb}" class="dropdown-item">MLB</a>
                            <a th:href="@{/product/adidas}" class="dropdown-item">ADIDAS</a>
                            <a th:href="@{/product/vans}" class="dropdown-item">VANS</a>
                            <a th:href="@{/product/lv}" class="dropdown-item">LOUIS VUITTON</a>
                        </div>
                    </div>
                    <a th:href="@{/product/contact}" class="nav-item nav-link">Contact</a>
                </div>
                <form action="">
                    <div class="border-start ps-4 d-none d-lg-block">
                        <input type="text" placeholder="Tên Sản Phẩm "/>
                        <button type="button" class="btn btn-sm p-0">
                            <i class="fa fa-search" style="margin-left: 5px"></i>
                        </button>
                    </div>
                </form>
                <a th:href="@{/user/cart}">
                    <button type="button" class="btn btn-sm p-0">
                        <i class="fa fa-cart-plus" style="margin-left: 20px"></i>
                        <span class="badge" th:text="${session.totalItems == null} ? '0' : ${session.totalItems}"></span>
                    </button>
                </a>
                <!--   Thêm dropdown vào mã HTML -->
                <div class="dropdown">
                    <button
                            type="button"
                            class="btn btn-sm p-0"
                            id="userDropdown"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                    >
                        <i class="bi bi-person-circle" style="margin-left: 20px"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="userDropdown">
                        <!-- Thêm các lựa chọn vào dropdown -->
                        <div class="dropdown-title" style="font-weight: bolder; margin-left: 15px" th:text="${#authentication.name}"></div>
                        <div class="dropdown-divider"></div>
                        <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                            <!-- Nếu đã đăng nhập, hiển thị đơn hàng và logout -->
                            <a th:href="@{/user/orders}" class="dropdown-item has-icon "> <i class="bi bi-file-earmark-text"></i> Đơn Hàng</a>
                            <a th:href="@{/admin/voucher/user-voucher}" class="dropdown-item has-icon "> <i class="fas fa-ticket-alt"></i> Voucher</a>
                            <a th:href="@{/logout}" class="dropdown-item has-icon text-danger"> <i class="fas fa-sign-out-alt"></i> Logout</a>
                        </th:block>
                        <th:block th:unless="${#authorization.expression('isAuthenticated()')}">
                            <!-- Nếu chưa đăng nhập, hiển thị lựa chọn login -->
                            <a th:href="@{/login/custom-login}" class="dropdown-item has-icon "> <i class="fas fa-sign-in-alt"></i> Login</a>
<!--                            <a th:href="@{/login/custom-login}" class="dropdown-item has-icon "> <i class="fas fa-ticket-alt"></i> voucher</a>-->
                        </th:block>


                    </div>
                </div>

            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->

<!-- Carousel Start -->
<div class="container-fluid px-0 mb-5">
    <div
            id="header-carousel"
            class="carousel slide carousel-fade"
            data-bs-ride="carousel"
    >
        <div class="carousel-inner">
            <div class="carousel-item active">

                <img class="w-100" th:src="@{/dashboard/img/index/gbaner.png}" alt="Image"/>

                <div class="carousel-caption">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 text-center">
                                <p class="fs-4 text-white animated zoomIn">
                                    Welcome to <strong class="text-dark">SneakerBeer</strong>
                                </p>
                                <h1 class="display-1 text-dark mb-4 animated zoomIn">
                                    The store sells good and quality shoes
                                </h1>
                                <!-- <a
                                  href=""
                                  class="btn btn-light rounded-pill py-3 px-5 animated zoomIn"
                                  >Explore More</a
                                > -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">

                <img class="w-100" th:src="@{/dashboard/img/index/gbaner.png}" alt="Image"/>

                <div class="carousel-caption">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 text-center">
                                <p class="fs-4 text-white animated zoomIn">
                                    Sneaker <strong class="text-dark">SneakerBeer</strong>
                                </p>
                                <h1 class="display-1 text-dark mb-4 animated zoomIn">
                                    Your number 1 choice
                                </h1>
                                <!-- <a
                                  href=""
                                  class="btn btn-light rounded-pill py-3 px-5 animated zoomIn"
                                  >Explore More</a -->
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#header-carousel"
                data-bs-slide="prev"
        >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#header-carousel"
                data-bs-slide="next"
        >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Carousel End -->

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-end">
                        <img
                                class="img-fluid bg-white w-100 mb-3 wow fadeIn"
                                data-wow-delay="0.1s"

                                th:src="@{/dashboard/img/index/giay-mlb-liner-mid-monogram-ny.jpeg}"

                                alt=""
                        />
                        <img
                                class="img-fluid bg-white w-50 wow fadeIn"
                                data-wow-delay="0.2s"

                                th:src="@{/dashboard/img/index/giay-nike-air-jordan-1-low-aluminum-ice-blue-like-auth.jpg}"

                                alt=""
                        />
                    </div>
                    <div class="col-6">
                        <img
                                class="img-fluid bg-white w-50 mb-3 wow fadeIn"
                                data-wow-delay="0.3s"

                                th:src="@{/dashboard/img/index/giay-nike-air-jordan-1-low-gs-white-gym-red-553560-118-like-auth.jpg}"

                                alt=""
                        />
                        <img
                                class="img-fluid bg-white w-100 wow fadeIn"
                                data-wow-delay="0.4s"

                                th:src="@{/dashboard/img/index/giay-nike-air-jordan-1-low-true-blue-cement-like-auth.jpg}"


                                alt=""
                        />
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="section-title">
                    <p class="fs-5 fw-medium fst-italic text-primary">About Us</p>
                    <h1 class="display-6">
                        The success history of SneakerBeer in 25 years
                    </h1>
                </div>
                <div class="row g-3 mb-4">
                    <div class="col-sm-4">
                        <img
                                class="img-fluid bg-white w-100"

                                th:src="@{/dashboard/img/index/gabout5.webp}"


                                alt=""
                        />
                    </div>
                    <div class="col-sm-8">
                        <h5>
                            Our shoes are one of the most popular brands in the world
                        </h5>
                        <p class="mb-0">
                            Most of these brands appear everywhere such as Europe, Asia,
                            America,......
                        </p>
                    </div>
                </div>
                <div class="border-top mb-4"></div>
                <div class="row g-3">
                    <div class="col-sm-8">
                        <h5>We bring quality and assurance to everyone</h5>
                        <p class="mb-0">
                            Our shoes are carefully inspected when importing and exporting
                            goods
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <img
                                class="img-fluid bg-white w-100"
                                th:src="@{/dashboard/img/index/gabout4.jpg}"

                                alt=""
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- brand Start -->
<div class="container-fluid product py-5 my-5">
    <div class="container py-5">
        <div
                class="section-title text-center mx-auto wow fadeInUp"
                data-wow-delay="0.1s"
                style="max-width: 500px"
        >
            <p class="fs-5 fw-medium fst-italic text-primary">Our Brand</p>
            <h1 class="display-6">
                Our brands are all popular brands in the world
            </h1>
        </div>
        <div
                class="owl-carousel product-carousel wow fadeInUp"
                data-wow-delay="0.5s"
        >
            <a th:href="@{/product/nike}" class="d-block product-item rounded">
                <img th:src="@{/dashboard/img/index/eme-1.png}" alt=""/>

                <div
                        class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4"
                >
                    <h4 class="text-primary">NIKE</h4>
                    <span class="text-body"
                    >Nike is a leading manufacturer of sports-related products,
                including shoes, apparel and equipment.</span
                    >
                </div>
            </a>
            <a th:href="@{/product/adidas}" class="d-block product-item rounded">
                <img th:src="@{/dashboard/img/index/eme-2.png}" alt=""/>

                <img src="../../../static/website/img/eme-2.png" alt=""/>

                <div
                        class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4"
                >
                    <h4 class="text-primary">adidas</h4>
                    <span class="text-body"
                    >The Adidas brand is no longer strange to those interested in
                the fashion industry today</span
                    >
                </div>
            </a>
            <a th:href="@{/product/mlb}" class="d-block product-item rounded">

                <img th:src="@{/dashboard/img/index/eme-3.png}" alt=""/>

                <img src="../../../static/website/img/eme-3.png" alt=""/>

                <div
                        class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4"
                >
                    <h4 class="text-primary">MLB</h4>
                    <span class="text-body"
                    >MLB is the acronym for Major League Baseball, which means the
                professional sports organization of baseball</span
                    >
                </div>
            </a>
            <a th:href="@{/product/converse}" class="d-block product-item rounded">
                <img th:src="@{/dashboard/img/index/eme-6.png}" alt=""/>

                <img src="../../../static/website/img/eme-6.png" alt=""/>

                <div
                        class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4"
                >
                    <h4 class="text-primary">CONVERSE</h4>
                    <span class="text-body"
                    >Converse is an extremely famous shoe brand among the community
                of sports shoe lovers in the world .</span
                    >
                </div>
            </a>
            <a th:href="@{/product/vans}" class="d-block product-item rounded">

                <img th:src="@{/dashboard/img/index/eme-4.png}" alt=""/>

                <img src="../../../static/website/img/eme-4.png" alt=""/>

                <div
                        class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4"
                >
                    <h4 class="text-primary">Vans</h4>
                    <span class="text-body"
                    >Going back in time to 1966, the Vans company was founded with
                the first shoe model called Vans Authentic.</span
                    >
                </div>
            </a>
            <a th:href="@{/product/lv}" class="d-block product-item rounded">
                <img th:src="@{/dashboard/img/index/eme-7.png}" alt=""/>

                <div
                        class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4"
                >
                    <h4 class="text-primary">LOUIS VUITTON</h4>
                    <span class="text-body"
                    >With the inspiration of freedom and the desire to conquer the
                luxury fashion market, the Louis Vuitton logo was formed</span
                    >
                </div>
            </a>
        </div>
    </div>
</div>


<!-- Video Start -->
<div class="container-fluid video my-5">
    <div class="container">
        <div class="row g-0">
            <div class="col-lg-6 py-5 wow fadeIn" data-wow-delay="0.1s">
                <div class="py-5">
                    <h1 class="display-6 mb-4">
                        Sneaker <span class="text-white">Young </span> and
                        <span class="text-white">Active</span>
                    </h1>
                    <h5 class="fw-normal lh-base fst-italic text-white mb-5">
                        Sneakers bring a feeling of comfort and beauty
                    </h5>

                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div
                        class="h-100 d-flex align-items-center justify-content-center"
                        style="min-height: 500px"
                >
                    <button
                            type="button"
                            class="btn-play"
                            data-bs-toggle="modal"

                            th:src="@{/dashboard/img/index/Models và videos TVC quảng cáo giày 2D 3D Việt nam.mp4}"

                            data-bs-target="#videoModal"
                    >
                        <span></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Video End -->

<!-- Video Modal Start -->
<div
        class="modal modal-video fade"
        id="videoModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">
                    sneaker_sneakerBeer
                </h3>
                <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <!-- 16:9 aspect ratio -->
                <div class="ratio ratio-16x9">
                    <iframe
                            class="embed-responsive-item"
                            src=""
                            id="video"
                            allowfullscreen
                            allowscriptaccess="always"
                            allow="autoplay"
                    ></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Video Modal End -->

<!-- Store Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div
                class="section-title text-center mx-auto wow fadeInUp"
                data-wow-delay="0.1s"
                style="max-width: 500px"
        >
            <p class="fs-5 fw-medium fst-italic text-primary">Popular products</p>
            <h1 class="display-6">
                The product sells the most and has the best reviews
            </h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="store-item position-relative text-center">
                    <img class="img-fluid" th:src="@{/dashboard/img/index/giay1.1.jpeg}" alt=""/>


                    <div class="p-4">
                        <div class="text-center mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <h4 class="mb-3">MLB-NY</h4>
                        <p>
                            Aliqu diam amet diam et eos. Clita erat ipsum lorem erat ipsum
                            lorem sit sed
                        </p>
                        <h4 class="text-primary">$19.00</h4>
                    </div>
                    <div class="store-overlay">
                        <a href="" class="btn btn-primary rounded-pill py-2 px-4 m-2"
                        >More Detail <i class="fa fa-arrow-right ms-2"></i
                        ></a>
                        <a href="" class="btn btn-dark rounded-pill py-2 px-4 m-2"
                        >Add to Cart <i class="fa fa-cart-plus ms-2"></i
                        ></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="store-item position-relative text-center">

                    <img class="img-fluid" th:src="@{/dashboard/img/index/giay2.1.jpg}" alt=""/>


                    <div class="p-4">
                        <div class="text-center mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <h4 class="mb-3">CONVERSE-T1</h4>
                        <p>
                            Aliqu diam amet diam et eos. Clita erat ipsum lorem erat ipsum
                            lorem sit sed
                        </p>
                        <h4 class="text-primary">$19.00</h4>
                    </div>
                    <div class="store-overlay">
                        <a href="" class="btn btn-primary rounded-pill py-2 px-4 m-2"
                        >More Detail <i class="fa fa-arrow-right ms-2"></i
                        ></a>
                        <a href="" class="btn btn-dark rounded-pill py-2 px-4 m-2"
                        >Add to Cart <i class="fa fa-cart-plus ms-2"></i
                        ></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="store-item position-relative text-center">
                    <img class="img-fluid" th:src="@{/dashboard/img/index/giay3.3.jpg}" alt=""/>


                    <div class="p-4">
                        <div class="text-center mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <h4 class="mb-3">NIKE-Jordan1</h4>
                        <p>
                            Aliqu diam amet diam et eos. Clita erat ipsum lorem erat ipsum
                            lorem sit sed
                        </p>
                        <h4 class="text-primary">$19.00</h4>
                    </div>
                    <div class="store-overlay">
                        <a href="" class="btn btn-primary rounded-pill py-2 px-4 m-2"
                        >More Detail <i class="fa fa-arrow-right ms-2"></i
                        ></a>
                        <a href="" class="btn btn-dark rounded-pill py-2 px-4 m-2"
                        >Add to Cart <i class="fa fa-cart-plus ms-2"></i
                        ></a>
                    </div>
                </div>
            </div>
            <!-- <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
              <a href="" class="btn btn-primary rounded-pill py-3 px-5"
                >View More Products</a
              >
            </div> -->
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="store-item position-relative text-center">

                    <img class="img-fluid" th:src="@{/dashboard/img/index/giay4.2.jpg}" alt=""/>


                    <div class="p-4">
                        <div class="text-center mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <h4 class="mb-3">LV-JD4</h4>
                        <p>
                            Aliqu diam amet diam et eos. Clita erat ipsum lorem erat ipsum
                            lorem sit sed
                        </p>
                        <h4 class="text-primary">$19.00</h4>
                    </div>
                    <div class="store-overlay">
                        <a href="" class="btn btn-primary rounded-pill py-2 px-4 m-2"
                        >More Detail <i class="fa fa-arrow-right ms-2"></i
                        ></a>
                        <a href="" class="btn btn-dark rounded-pill py-2 px-4 m-2"
                        >Add to Cart <i class="fa fa-cart-plus ms-2"></i
                        ></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="store-item position-relative text-center">

                    <img class="img-fluid" th:src="@{/dashboard/img/index/giay3.2.jpg}" alt=""/>

                    <div class="p-4">
                        <div class="text-center mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <h4 class="mb-3">NIKE-Jordan2</h4>
                        <p>
                            Aliqu diam amet diam et eos. Clita erat ipsum lorem erat ipsum
                            lorem sit sed
                        </p>
                        <h4 class="text-primary">$19.00</h4>
                    </div>
                    <div class="store-overlay">
                        <a href="" class="btn btn-primary rounded-pill py-2 px-4 m-2"
                        >More Detail <i class="fa fa-arrow-right ms-2"></i
                        ></a>
                        <a href="" class="btn btn-dark rounded-pill py-2 px-4 m-2"
                        >Add to Cart <i class="fa fa-cart-plus ms-2"></i
                        ></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="store-item position-relative text-center">

                    <img class="img-fluid" th:src="@{/dashboard/img/index/giay4.1.jpg}" alt=""/>

                    <div class="p-4">
                        <div class="text-center mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <h4 class="mb-3">LV-JD3</h4>
                        <p>
                            Aliqu diam amet diam et eos. Clita erat ipsum lorem erat ipsum
                            lorem sit sed
                        </p>
                        <h4 class="text-primary">$19.00</h4>
                    </div>
                    <div class="store-overlay">
                        <a href="" class="btn btn-primary rounded-pill py-2 px-4 m-2"
                        >More Detail <i class="fa fa-arrow-right ms-2"></i
                        ></a>
                        <a href="" class="btn btn-dark rounded-pill py-2 px-4 m-2"
                        >Add to Cart <i class="fa fa-cart-plus ms-2"></i
                        ></a>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                <a
                        th:href="@{/product/hien-thi}"
                        class="btn btn-primary rounded-pill py-3 px-5"
                >View More Products</a
                >
            </div>
        </div>
    </div>
</div>
<!-- Store End -->


<!-- Contact Start -->
<div class="container-xxl contact py-5">
    <div class="container">
        <div
                class="section-title text-center mx-auto wow fadeInUp"
                data-wow-delay="0.1s"
                style="max-width: 500px"
        >
            <p class="fs-5 fw-medium fst-italic text-primary">Contact Us</p>
            <h1 class="display-6">Contact us right now</h1>
        </div>
        <div
                class="row justify-content-center wow fadeInUp"
                data-wow-delay="0.1s"
        >
            <div class="col-lg-8">
                <p class="text-center mb-5">
                    Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat
                    ipsum et lorem et sit, sed stet lorem sit clita duo justo Diam
                    dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat
                    ipsum et lorem et sit, sed stet lorem sit clita duo justo
                </p>
                <div class="row g-5">
                    <div
                            class="col-md-4 text-center wow fadeInUp"
                            data-wow-delay="0.3s"
                    >
                        <div class="btn-square mx-auto mb-3">
                            <i class="fa fa-envelope fa-2x text-white"></i>
                        </div>
                        <p class="mb-2">info@example.com</p>
                        <p class="mb-0">support@example.com</p>
                    </div>
                    <div
                            class="col-md-4 text-center wow fadeInUp"
                            data-wow-delay="0.4s"
                    >
                        <div class="btn-square mx-auto mb-3">
                            <i class="fa fa-phone fa-2x text-white"></i>
                        </div>
                        <p class="mb-2">+012 345 67890</p>
                        <p class="mb-0">+012 345 67890</p>
                    </div>
                    <div
                            class="col-md-4 text-center wow fadeInUp"
                            data-wow-delay="0.5s"
                    >
                        <div class="btn-square mx-auto mb-3">
                            <i class="fa fa-map-marker-alt fa-2x text-white"></i>
                        </div>
                        <p class="mb-2">123 Street</p>
                        <p class="mb-0">New York, USA</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact Start -->

<!-- Footer Start -->
<div
        class="container-fluid bg-dark footer mt-5 py-5 wow fadeIn"
        data-wow-delay="0.1s"
>
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="text-primary mb-4">Our Office</h4>
                <p class="mb-2">
                    <i class="fa fa-map-marker-alt text-primary me-3"></i>123 Street,
                    New York, USA
                </p>
                <p class="mb-2">
                    <i class="fa fa-phone-alt text-primary me-3"></i>+012 345 67890
                </p>
                <p class="mb-2">
                    <i class="fa fa-envelope text-primary me-3"></i>info@example.com
                </p>
                <div class="d-flex pt-3">
                    <a class="btn btn-square btn-primary rounded-circle me-2" href=""
                    ><i class="fab fa-twitter"></i
                    ></a>
                    <a class="btn btn-square btn-primary rounded-circle me-2" href=""
                    ><i class="fab fa-facebook-f"></i
                    ></a>
                    <a class="btn btn-square btn-primary rounded-circle me-2" href=""
                    ><i class="fab fa-youtube"></i
                    ></a>
                    <a class="btn btn-square btn-primary rounded-circle me-2" href=""
                    ><i class="fab fa-linkedin-in"></i
                    ></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-primary mb-4">Quick Links</h4>
                <a class="btn btn-link" href="">About Us</a>
                <a class="btn btn-link" href="">Contact Us</a>
                <a class="btn btn-link" href="">Our Services</a>
                <a class="btn btn-link" href="">Terms & Condition</a>
                <a class="btn btn-link" href="">Support</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-primary mb-4">Business Hours</h4>
                <p class="mb-1">Monday - Friday</p>
                <h6 class="text-light">09:00 am - 07:00 pm</h6>
                <p class="mb-1">Saturday</p>
                <h6 class="text-light">09:00 am - 12:00 pm</h6>
                <p class="mb-1">Sunday</p>
                <h6 class="text-light">Closed</h6>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-primary mb-4">Newsletter</h4>
                <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                <div class="position-relative w-100">
                    <input
                            class="form-control bg-transparent w-100 py-3 ps-4 pe-5"
                            type="text"
                            placeholder="Your email"
                    />
                    <button
                            type="button"
                            class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2"
                    >
                        SignUp
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

<!-- Copyright Start -->
<div class="container-fluid copyright py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                &copy; <a class="fw-medium" href="#">Your Site Name</a>, All Right
                Reserved.
            </div>
            <div class="col-md-6 text-center text-md-end">
                <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                Designed By
                <a class="fw-medium" href="https://htmlcodex.com">HTML Codex</a>
                Distributed By
                <a class="fw-medium" href="https://themewagon.com">ThemeWagon</a>
            </div>
        </div>
    </div>
</div>
<!-- Copyright End -->

<!-- Back to Top -->
<a
        href="#"
        class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"
><i class="bi bi-arrow-up"></i
></a>

<!-- JavaScript Libraries -->


<script
        th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js}"
></script>
"
<script
        th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js}"
></script>
"
<script th:src="@{/dashboard/lib/wow/wow.min.js}"></script>
"
<script th:src="@{/dashboard/lib/easing/easing.min.js}"></script>
"
<script th:src="@{/dashboard/lib/waypoints/waypoints.min.js}"></script>
"
<script th:src="@{/dashboard/lib/owlcarousel/owl.carousel.min.js}"></script>
"

<!-- Template Javascript -->
<script th:src="@{/dashboard/js/main.js}"></script>
"
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var userDropdown = document.getElementById("userDropdown");
        var accountOption = document.getElementById("accountOption");
        var loginOption = document.getElementById("loginOption");

        userDropdown.addEventListener("click", function (event) {
            event.stopPropagation();
            var dropdownMenu = document.querySelector(".dropdown-menu");
            dropdownMenu.classList.toggle("show");
        });

        accountOption.addEventListener("click", function () {
            console.log("Your Account selected");
            // Thực hiện các hành động khi "Your Account" được chọn
        });

        loginOption.addEventListener("click", function () {
            console.log("Login selected");
            // Thực hiện các hành động khi "Login" được chọn
        });

        document.addEventListener("click", function (event) {
            var dropdownMenu = document.querySelector(".dropdown-menu");
            if (dropdownMenu.classList.contains("show")) {
                dropdownMenu.classList.remove("show");
            }
        });
    });
</script>
</body>
</html>
