<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="main-content">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Địa Chỉ</h4>
                </div>
                <form th:action="@{'/admin/address/update/'+${id}}" method="post" th:object="${address}"
                      onsubmit="return  confirm('Bạn có update không?')">
                    <div th:if="${errorMessage}" class="alert alert-danger">
                        <p th:text="${errorMessage}"></p>
                    </div>
                    <div th:if="${Message}" class="alert alert-success">
                        <p th:text="${Message}"></p>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Tên Đường </label>
                            <div class="input-group colorpickerinput">
                                <input type="text" class="form-control" placeholder="Nhập Tên Đường "
                                       th:field="*{streetName}">
                                <span th:if="${#fields.hasErrors('streetName')}"
                                      style="color: red; font-size: 13px"
                                      th:errors="*{streetName}"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Tên Huyện </label>
                            <div class="input-group colorpickerinput">
                                <input type="text" class="form-control" placeholder="Nhập Tên Huyện "
                                       th:field="*{district}">
                                <span th:if="${#fields.hasErrors('district')}"
                                      style="color: red; font-size: 13px"
                                      th:errors="*{district}"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Tên Tỉnh </label>
                            <div class="input-group colorpickerinput">
                                <input type="text" class="form-control" placeholder="Nhập Tên Tỉnh  "
                                       th:field="*{province}">
                                <span th:if="${#fields.hasErrors('province')}"
                                      style="color: red; font-size: 13px"
                                      th:errors="*{province}"></span>

                            </div>
                        </div>
                        <div class="form-group">
                            <label>Mã Bưu Chính</label>
                            <input type="number" class="form-control" placeholder="Nhập Mã Bưu Chính"
                                   th:field="*{zipcode}">
                            <span th:if="${#fields.hasErrors('zipcode')}"
                                  style="color: red; font-size: 13px"
                                  th:errors="*{zipcode}"></span>
                        </div>
                        <div class="form-group">
                            <label>fullName</label>
                            <input type="text" class="form-control" placeholder="Nhập Mã Bưu Chính"
                                   th:field="*{fullName}">
                            <span th:if="${#fields.hasErrors('fullName')}"
                                  style="color: red; font-size: 13px"
                                  th:errors="*{fullName}"></span>
                        </div>
                        <div class="form-group">
                            <label>Tài Khoản </label>
                            <div class="input-group">
                                <select id="yourSelectId" class="form-control" th:field="*{account}">
                                    <option th:each="account:${accountlist}" th:value="${account.id}"
                                            th:text="${account.name}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="setDefaultAddress"
                                   name="setDefaultAddress" th:field="*{defaultAddress}"/>
                            <label class="form-check-label" for="setDefaultAddress">Đặt làm Địa Chỉ Mặc
                                Định</label>
                        </div>
                        <div class="form-group">
                            <a th:href="@{/admin/address/update}">
                                <button class="btn btn-primary mr-1" type="submit">update</button>
                            </a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
