<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>


<!-- index.html  21 Nov 2019 03:44:50 GMT -->
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title> SneakBeer - Account </title>
    <!-- General CSS Files -->
    <link th:href="@{/dashboard/css/app.min.css}" rel="stylesheet">
    <!-- Template CSS -->
    <link th:href="@{/dashboard/css/style.css}" rel="stylesheet">
    <link th:href="@{/dashboard/css/components.css}" rel="stylesheet">
    <!-- Custom style CSS -->
    <link th:href="@{/dashboard/css/custom.css}">
    <link rel='shortcut icon' type='image/x-icon' th:href="@{/dashboard/img/favicon.ico}"/>
    <!-- Bootstrap CSS -->
    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" integrity="sha384-bt3gew0sN/6bWlHHtlLz+Sck6Zp+0Jg5f5Z5dpJZHfF4F1a76pO2Poqvmh1CDm49" crossorigin="anonymous">-->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        .modal fade {
            z-index: auto;
        }

             /* Style for the table */
         #orderTable {
             margin-top: 20px;
             width: 100%;
             background-color: #fff;
             box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
             border-radius: 8px;
             overflow: hidden;
         }


        /* Style for the table */
        #orderTable {
            margin-top: 20px;
            width: 100%;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            overflow: hidden;
        }


        #orderTable caption {
            text-align: left;
            font-size: 1.5em;
            color: #4caf50;
            padding: 10px 20px;
        }

        #orderTable th,
        #orderTable td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        #orderTable th {
            background-color: #4caf50;
            color: #fff;
        }

        #orderTable img {
            max-width: 50px;
            max-height: 50px;
        }

        /* Style for the footer */
        .footer {
            color: #fff;
        }

        /* Style for the back-to-top button */
        .back-to-top {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #4caf50;
            color: #fff;
            border: none;
            border-radius: 50%;
            padding: 10px;
            cursor: pointer;
            display: none;
        }

        .back-to-top:hover {
            background-color: #45a049;
        }

        #orderTable caption {
            caption-side: top;
        }

    </style>
</head>

<body>
<div class="loader"></div>


<div id="app">
    <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>
        <nav class="navbar navbar-expand-lg main-navbar sticky">
            <div class="form-inline mr-auto">
                <ul class="navbar-nav mr-3">
                    <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn"> <i data-feather="align-justify"></i></a></li>
                    <li><a href="#" class="nav-link nav-link-lg fullscreen-btn">
                        <i data-feather="maximize"></i>
                    </a></li>
                    <li>
                        <form class="form-inline mr-auto">
                            <div class="search-element">
                                <input class="form-control" type="search" placeholder="Search" aria-label="Search"
                                       data-width="200">
                                <button class="btn" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav navbar-right">
                <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown"
                                                             class="nav-link nav-link-lg message-toggle"><i
                    data-feather="mail"></i>
                    <span class="badge headerBadge1">
                            6 </span> </a>
                    <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
                        <div class="dropdown-header">
                            Messages
                            <div class="float-right">
                                <a href="#">Mark All As Read</a>
                            </div>
                        </div>
                        <div class="dropdown-list-content dropdown-list-message">
                            <a href="#" class="dropdown-item"> <span class="dropdown-item-avatar
            											text-white"> <img alt="image"
                                                                          th:src="@{/dashboard/img/users/user-1.png}"
                                                                          class="rounded-circle">
                              </span> <span class="dropdown-item-desc"> <span class="message-user">John
                                  Deo</span>
                                <span class="time messege-text">Please check your mail !!</span>
                                <span class="time">2 Min Ago</span>
                              </span>
                            </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-avatar text-white">
                                <img alt="image" th:src="@{/dashboard/img/users/user-2.png}"
                                     class="rounded-circle">
                              </span> <span class="dropdown-item-desc"> <span class="message-user">Sarah
                                  Smith</span> <span class="time messege-text">Request for leave
                                  application</span>
                                <span class="time">5 Min Ago</span>
                              </span>
                        </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-avatar text-white">
                                <img alt="image" th:src="@{/dashboard/img/users/user-5.png}"
                                     class="rounded-circle">
                              </span> <span class="dropdown-item-desc"> <span class="message-user">Jacob
                                  Ryan</span> <span class="time messege-text">Your payment invoice is
                                  generated.</span> <span class="time">12 Min Ago</span>
                              </span>
                        </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-avatar text-white">
                                <img alt="image" th:src="@{/dashboard/img/users/user-4.png}"
                                     class="rounded-circle">
                              </span> <span class="dropdown-item-desc"> <span class="message-user">Lina
                                  Smith</span> <span class="time messege-text">hii John, I have upload
                                  doc
                                  related to task.</span> <span class="time">30
                                  Min Ago</span>
                              </span>
                        </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-avatar text-white">
                                <img alt="image" th:src="@{/dashboard/img/users/user-3.png}"
                                     class="rounded-circle">
                              </span> <span class="dropdown-item-desc"> <span class="message-user">Jalpa
                                  Joshi</span> <span class="time messege-text">Please do as specify.
                                  Let me
                                  know if you have any query.</span> <span class="time">1
                                  Days Ago</span>
                              </span>
                        </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-avatar text-white">
                                <img alt="image" th:src="@{/dashboard/img/users/user-2.png}"
                                     class="rounded-circle">
                              </span> <span class="dropdown-item-desc"> <span class="message-user">Sarah
                                  Smith</span> <span class="time messege-text">Client Requirements</span>
                                <span class="time">2 Days Ago</span>
                              </span>
                        </a>
                        </div>
                        <div class="dropdown-footer text-center">
                            <a href="#">View All <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </li>
                <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown"
                                                             class="nav-link notification-toggle nav-link-lg"><i
                    data-feather="bell" class="bell"></i>
                </a>
                    <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
                        <div class="dropdown-header">
                            Notifications
                            <div class="float-right">
                                <a href="#">Mark All As Read</a>
                            </div>
                        </div>
                        <div class="dropdown-list-content dropdown-list-icons">
                            <a href="#" class="dropdown-item dropdown-item-unread"> <span
                                class="dropdown-item-icon bg-primary text-white"> <i class="fas
            												fa-code"></i>
                              </span> <span class="dropdown-item-desc"> Template update is
                                available now! <span class="time">2 Min
                                  Ago</span>
                              </span>
                            </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-icon bg-info text-white"> <i
                            class="far
            												fa-user"></i>
                              </span> <span class="dropdown-item-desc"> <b>You</b> and <b>Dedik
                                  Sugiharto</b> are now friends <span class="time">10 Hours
                                  Ago</span>
                              </span>
                        </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-icon bg-success text-white"> <i
                            class="fas
            												fa-check"></i>
                              </span> <span class="dropdown-item-desc"> <b>Kusnaedi</b> has
                                moved task <b>Fix bug header</b> to <b>Done</b> <span class="time">12
                                  Hours
                                  Ago</span>
                              </span>
                        </a> <a href="#" class="dropdown-item"> <span
                            class="dropdown-item-icon bg-danger text-white"> <i
                            class="fas fa-exclamation-triangle"></i>
                              </span> <span class="dropdown-item-desc"> Low disk space. Let's
                                clean it! <span class="time">17 Hours Ago</span>
                              </span>
                        </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-icon bg-info text-white"> <i
                            class="fas
            												fa-bell"></i>
                              </span> <span class="dropdown-item-desc"> Welcome to Otika
                                template! <span class="time">Yesterday</span>
                              </span>
                        </a>
                        </div>
                        <div class="dropdown-footer text-center">
                            <a href="#">View All <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </li>
                <li class="dropdown"><a href="#" data-toggle="dropdown"
                                        class="nav-link dropdown-toggle nav-link-lg nav-link-user"> <img alt="image"
                                                                                                         th:src="@{/website/img/logo1.png}"
                                                                                                         class="user-img-radious-style">
                    <span class="d-sm-none d-lg-inline-block"></span></a>
                    <div class="dropdown-menu dropdown-menu-right pullDown">
                        <div class="dropdown-title" th:text=" ${#authentication.name}"></div>

                        <!--                        <a href="profile.html" class="dropdown-item has-icon"> <i class="far-->
                        <!--            										fa-user"></i> Profile-->
                        <!--                        </a> <a href="timeline.html" class="dropdown-item has-icon"> <i class="fas fa-bolt"></i>-->
                        <!--                        Activities-->
                        <!--                    </a> <a href="#" class="dropdown-item has-icon"> <i class="fas fa-cog"></i>-->
                        <!--                        Settings-->
                        <!--                    </a>-->
                        <div class="dropdown-divider"></div>
                        <a th:href="@{/logout}" class="dropdown-item has-icon text-danger"> <i
                            class="fas fa-sign-out-alt"></i>
                            Logout
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="main-sidebar sidebar-style-2">
            <aside id="sidebar-wrapper">
                <div class="sidebar-brand">
                    <a th:href="@{/product/hien-thi}">
                        <img alt="image" th:src="@{/website/img/logo1.png}"
                             class="header-logo"/> <span
                        class="logo-name">SneakerBeer</span>
                    </a>
                </div>
                <ul class="sidebar-menu">
                    <li class="dropdown active">
                        <a th:href="@{/admin/thong-ke/hien-thi}" class="nav-link"><i data-feather="monitor"></i><span>Tổng quan</span></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i
                            data-feather="briefcase"></i><span>Quản lý sản phẩm</span></a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link" th:href="@{/admin/san-pham-test/create}">Sản phẩm</a></li>
                            <li><a class="nav-link" th:href="@{/admin/mau-sac/hien-thi}">Màu sắc</a></li>
                            <li><a class="nav-link" th:href="@{/admin/de-giay/hien-thi}">Đế giày</a></li>
                            <li><a class="nav-link" th:href="@{/admin/thuong-hieu/hien-thi}">Thương hiệu</a></li>
                            <li><a class="nav-link" th:href="@{/admin/chat-lieu/hien-thi}">Chất liệu</a></li>
                            <li><a class="nav-link" th:href="@{/admin/kich-co/hien-thi}">Kích Cỡ</a></li>
                            <li><a class="nav-link" th:href="@{/admin/loai-giay/hien-thi}">Loại giày</a></li>
                            <li><a class="nav-link" th:href="@{/admin/chi-tiet-san-pham/hien-thi}">Chi tiết sản phẩm</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i
                            data-feather="layout"></i><span>Hoá đơn</span></a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link" th:href="@{/admin/ban-hang}">Bán hàng</a></li>
                            <li><a class="nav-link" th:href="@{/admin/hoa-don/hien-thi}">Hoá đơn</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i
                            data-feather="image"></i><span>Account</span></a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link" th:href="@{/admin/account/hien-thi}">Account</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i
                            data-feather="map"></i><span>Tài khoản</span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/admin/roles/hien-thi}">Chức vụ</a></li>
                            <li><a th:href="@{/admin/nhan-vien/hien-thi}">Nhân viên</a></li>
                            <li><a th:href="@{/admin/khach-hang/hien-thi}">Khách hàng</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i
                            data-feather="map"></i><span>Voucher</span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/admin/voucher/hien-thi}">Danh sách</a></li>
                            <li><a th:href="@{/admin/voucher/lich-su-dung-voucher}">Lịch Sử Dùng Voucher</a></li>
                            <li><a th:href="@{/admin/voucher/view-add}">Thêm mới</a></li>
                            <!--                            <li><a th:href="@{/admin/khach-hang/hien-thi}">Khách hàng</a></li>-->
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i
                            data-feather="map"></i><span>Thống Kê</span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/admin/thong-ke/hien-thi}">Thống Kê</a></li>
                        </ul>
                    </li>
                </ul>
            </aside>
        </div>
        <!-- Main Content -->
        <div class="main-content">
            <section class="section">
                <div class="section-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="alert alert-success" role="alert" th:if="${message}">
                                <span th:text="${message}"></span>
                            </div>
                            <div class="card" style="position: relative">
                                <div class="card-body">
                                    <div class="invoice-title">
                                        <!--                            <h4 class="float-end font-size-15"><span class="badge bg-success font-size-12 ms-2" th:text="${billdetail.trangThaiDonHang}"></span></h4>-->
                                        <div class="mb-4">
                                            <h2 class="mb-1 text-muted" th:text="'Mã hoá đơn: ' + ${bill.code}">
                                            </h2>
                                            <div th:if="${bill.orderStatus == 0}"
                                                 class="text-danger font-weight-bold border rounded p-2 border-danger">
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="my-4"/>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="text-muted">
                                                <h5 class="font-size-16 mb-3">Thông tin đơn hàng</h5>
                                                <h6 class="font-size-15 mb-2" th:if="${bill.accountId != null}"
                                                    th:text="'Khách hàng: ' + ${bill.accountId.name}">
                                                </h6>

                                                <th:block class="mb-1"
                                                          th:with="addressParts=${bill.splitAddress(bill.address)}">
                                                    <h6 class="font-size-15 mb-2 font-italic"
                                                        th:text="'Tên người nhận : ' + ${addressParts[5].substring(addressParts[5].indexOf('=') + 1)}">
                                                    </h6>
                                                    <p class="mb-1"
                                                       th:text="'Địa chỉ nhận : ' + ${addressParts[1].substring(addressParts[1].indexOf('=') + 1) +','+ addressParts[2].substring(addressParts[2].indexOf('=') + 1)+','+ addressParts[3].substring(addressParts[3].indexOf('=') + 1)}"></p>
                                                    <p class="mb-1"
                                                       th:text="'SĐT: ' + ${addressParts[4].substring(addressParts[4].indexOf('=') + 1)}">
                                                    </p>
                                                </th:block>

                                            </div>
                                        </div>
                                        <!-- end col -->
                                        <!-- end col -->
                                        <div class="col-sm-6">
                                            <div class="text-muted" style="text-align: right">
                                                <div>
                                                    <h5 class="font-size-15 mb-1">Ngày mua hàng:</h5>
                                                    <p
                                                            th:text="${#temporals.format(bill.createDate, 'dd/MM/yyyy HH:mm')}">
                                                    </p>
                                                </th:block>

                                            </div>
                                        </div>
                                        <!-- end col -->
                                    </div>
                                    <!-- end row -->
                                    <div class="py-2 mb-4">
                                        <div>
                                            <h5>Voucher:
                                                <h5 style="color: rgb(21, 219, 153)" th:if="${bill.voucher != null}"
                                                    th:text="${bill.voucher.code}">
                                                </h5>
                                                <h5 style="color: rgb(21, 219, 153)" th:if="${bill.voucher == null}">
                                                    Không có
                                                </h5>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="py-2">
                                        <h5 class="font-size-15">Thanh toán</h5>

                                        <div class="table-responsive">
                                            <table class="table align-middle table-nowrap table-centered mb-0">
                                                <thead>
                                                <tr>
                                                    <th>Thanh toán</th>
                                                    <th>Số tiền thanh toán</th>
                                                    <th>Trạng thái thanh toán</th>
                                                </tr>
                                                </thead>
                                                <!-- end thead -->
                                                <tbody>
                                                <tr th:each="paymentMethod : ${listTransection}">
                                                    <td>
                                                        <div>
                                                            <h6 class="text-truncate font-size-14 mb-1"
                                                                th:text="${paymentMethod.paymentMethod}">
                                                            </h6>
                                                        </div>
                                                    </td>
                                                    <td
                                                        th:text="'₫' + ${#numbers.formatDecimal(paymentMethod.amount, 0, 'POINT', 0, 'COMMA')}">
                                                    </td>
                                                    <td>

                    <span class="text-warning p-1 font-weight-bold"
                          th:if="${paymentMethod.status == 'pending'}">&nbsp;Chưa thanh toán
                    </span>
                                                        <span class="text-success p-1 font-weight-bold"
                                                              th:if="${paymentMethod.status == 'success'}">&nbsp;Đã thanh toán
                    </span>

                                                        <span th:if="${paymentMethod.status == 'fail'}"
                                                              class="text-danger p-1 font-weight-bold">
                        &nbsp; Đã hủy
                    </span>

                                                    </td>
                                                </tr>
                                                </tbody>
                                                <!-- end tbody -->
                                            </table>
                                            <!-- end table -->
                                        </div>
                                    </div>
                                    <div class="py-2">
                                        <caption style="text-align: left; text-align: center">
                                            <h3 style="color: #45a049">Danh sách đơn hàng</h3>
                                        </caption>

                                        <div class="table-responsive">
                                            <table id="orderTable">
                                                <thead>
                                                <tr>
                                                    <th scope="col">Ảnh</th>
                                                    <th scope="col">Tên sản phẩm</th>
                                                    <th scope="col">Ngày Đặt</th>
                                                    <th scope="col">Màu sắc</th>
                                                    <th scope="col">Size</th>
                                                    <th scope="col">Brand</th>
                                                    <th scope="col">Giá</th>
                                                    <th scope="col">Số lượng</th>
                                                    <th scope="col">Thành tiền</th>
                                                </tr>
                                                </thead>
                                                <tbody class="align-middle">
                                                <tr th:each="sl : ${lstBillDetails}">
                                                    <input
                                                        type="hidden"
                                                        value="Activewear" th:value="${sl.productDetails.id}"
                                                        th:name="id"
                                                        id="productId"
                                                        name="id"
                                                    />
                                                    <td>
                                                        <img
                                                            th:if="${sl.productDetails.productId.images != null and not #lists.isEmpty(sl.productDetails.productId.images)}"
                                                            th:src="@{'/user/display?id=' + ${sl.productDetails.productId.id} + '&imageId=' + ${sl.productDetails.productId.images[0].id}}"
                                                            alt="Sản phẩm 1"
                                                            style="max-width: 80px; max-height: 80px"
                                                        />
                                                    </td>

                                                    <td th:text="${sl.productDetails.productId.name}"></td>
                                                    <td th:text="${ #temporals.format(sl.orders.createDate, 'dd/MM/yyyy HH:mm')}"></td>
                                                    <td th:text="${sl.productDetails.colorId.name}"></td>
                                                    <td th:text="${sl.productDetails.sizeId.name}"></td>
                                                    <td th:text="${sl.productDetails.productId.brandId.name}"></td>
                                                    <td
                                                        th:text="'₫' + ${#numbers.formatDecimal(sl.price, 0, 'COMMA', 0, 'POINT')}"></td>
                                                    <td class="align-middle">
                                                        <div class="input-group quantity mx-auto"
                                                             style="width: 100px;background-color: #f1a535;">
                                                            <input type="text" readonly
                                                                   class="form-control form-control-sm bg-secondary text-center"
                                                                   name="quantity" th:value="${sl.quantity}">
                                                        </div>
                                                    </td>
                                                    <td class="align-middle"
                                                        th:text="${'₫' +  #numbers.formatDecimal(sl.price * sl.quantity, 0, 'COMMA', 0, 'POINT')}"></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" colspan="7" class="border-0"
                                                        style="text-align: right">
                                                        Voucher :
                                                    </th>
                                                    <div th:if="${bill.voucher != null}">
                                                        <td class="border-0"
                                                            style="text-align: right; margin-left: 500px"
                                                            th:text=" ${ '-'+ #numbers.formatDecimal(bill.voucher.discount , 0, 'POINT', 0, 'COMMA')}">
                                                            - $25.50
                                                        </td>
                                                        <div th:if="${bill.voucher != null}">

                                                            <td th:if="${bill.voucher.discountType == T(com.example.datnsd56.entity.DiscountType).PERCENTAGE}">
                                                                %
                                                            </td>
                                                            <td th:if="${bill.voucher.discountType == T(com.example.datnsd56.entity.DiscountType).AMOUNT}">
                                                                VND
                                                            </td>
                                                        </div>

                                                </tr>
                                                <!-- end tr -->
                                                <tr>
                                                    <th scope="row" colspan="7" class="border-0"
                                                        style="text-align: right">
                                                        Phí ship :
                                                    </th>
                                                    <td class="border-0" style="text-align: right"
                                                        th:text="'₫' + ${#numbers.formatDecimal(bill.shippingFee, 0, 'POINT', 0, 'COMMA')}">
                                                        0
                                                    </td>
                                                </tr>
                                                <!-- end tr -->

                                                <!-- end tr -->
                                                <tr>
                                                    <th scope="row" colspan="7" class="border-0"
                                                        style="text-align: right">
                                                        Tổng thanh toán :
                                                    </th>
                                                    <td class="border-0" style="text-align: right">
                                                        <h4 class="m-0 fw-semibold"
                                                            th:text="'₫' + ${#numbers.formatDecimal(bill.total, 0, 'POINT', 0, 'COMMA')}">
                                                            $739.00
                                                        </h4>
                                                    </td>
                                                </tr>
                                                </tbody>
                                                </thead>
                                                <tbody>
                                                <!-- Các dòng dữ liệu sẽ được thêm vào đây bằng JavaScript -->
                                                </tbody>
                                            </table>
                                            <!--                                            <div class="text-end">-->

                                            <!--                                                Tổng số tiền-->

                                            <!--                                                <label for="" style="color: red">-->
                                            <!--                                                    : <span id="" th:text="${order.total} + '' +'Đ'"></span>-->
                                            <!--                                                </label>-->

                                            <!--                                            </div>-->
                                            <!-- end table -->
                                        </div>
                                        <!-- end table responsive -->
                                        <div class="d-print-none mt-4">
                                            <div style="text-align: right">
                                                <!--                                    <a th:href="@{'/nova/bill/export-pdf/'+${bill.id}}"-->
                                                <!--                                       class="btn btn-success me-1"><i class="fa fa-print"></i></a>-->
                                                <a style="text-decoration: none; font-size: 15px" th:href="@{'/admin/hoa-don/hien-thi'}">

                                                        Đóng

                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="margin-right: 10px">
                                        <a th:href="@{'/admin/hoa-don/confirm-bill/' + ${bill.id}}"
                                           th:if="${bill.orderStatus == 10}">
                                            <button type="button" class="btn btn-info">
                                                <i class="fa-solid fa-address-book mr-1"></i>Xác nhận
                                            </button>
                                        </a>
                                    </div>
                                    <div style="margin-right: 10px" th:if="${bill.orderStatus == 3}">
                                        <button type="button" class="btn btn-info"
                                                data-bs-toggle="modal" data-bs-target="#shippingBill"
                                                data-bs-backdrop="false">
                                            <i class="fa-solid fa-pen mr-1" id="shippingBillButton"></i>Giao hàng
                                        </button>

                                        <div class="modal fade" id="shippingBill" tabindex="-1"
                                             role="dialog" aria-labelledby="shippingBillLabel"
                                             data-bs-backdrop="false">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="shippingBillLabel">Xác nhận</h5>
                                                        <button type="button" class="close" data-bs-dismiss="modal"
                                                                aria-label="close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="/admin/hoa-don/shipping-bill" method="post">
                                                            <input type="hidden" name="id" th:value="${bill.id}">
                                                            <div class="form-group">
                                                                <label for="shippingFee">Nhập phí Ship cho đơn
                                                                    hàng</label>
                                                                <input type="number" class="form-control"
                                                                       id="shippingFee" name="shippingFee"
                                                                       placeholder="Nhập phí ship">
                                                            </div>

                                                            <button type="submit" class="btn btn-primary">Xác nhận
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="margin-right: 10px">
                                        <a th:href="@{'/admin/hoa-don/complete-bill/' + ${bill.id}}"
                                           th:if="${bill.orderStatus == 2}">
                                            <button type="button" class="btn btn-info">
                                                <i class="fa-solid fa-circle mr-1"></i>Hoàn thành
                                            </button>
                                        </a>
                                    </div>
                                    <div style="margin-right: 10px">
                                        <a th:href="@{'/admin/hoa-don/cancel-bill/' + ${bill.id}}"
                                           th:if="${bill.orderStatus == 10 || bill.orderStatus == 3}">
                                            <button type="button" class="btn btn-info">
                                                <i class="fa-solid fa-times mr-1"></i>Huỷ
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="settingSidebar">
                <a href="javascript:void(0)" class="settingPanelToggle">
                    <i class="fa fa-spin fa-cog"></i>
                </a>
                <div class="settingSidebar-body ps-container ps-theme-default">
                    <div class="fade show active">
                        <div class="setting-panel-header">Setting Panel</div>
                        <div class="p-15 border-bottom">
                            <h6 class="font-medium m-b-10">Select Layout</h6>
                            <div class="selectgroup layout-color w-50">
                                <label class="selectgroup-item">
                                    <input
                                        type="radio"
                                        name="value"
                                        value="1"
                                        class="selectgroup-input-radio select-layout"
                                        checked
                                    />
                                    <span class="selectgroup-button">Light</span>
                                </label>
                                <label class="selectgroup-item">
                                    <input
                                        type="radio"
                                        name="value"
                                        value="2"
                                        class="selectgroup-input-radio select-layout"
                                    />
                                    <span class="selectgroup-button">Dark</span>
                                </label>
                            </div>
                        </div>
                        <div class="p-15 border-bottom">
                            <h6 class="font-medium m-b-10">Sidebar Color</h6>
                            <div class="selectgroup selectgroup-pills sidebar-color">
                                <label class="selectgroup-item">
                                    <input
                                        type="radio"
                                        name="icon-input"
                                        value="1"
                                        class="selectgroup-input select-sidebar"
                                    />
                                    <span
                                        class="selectgroup-button selectgroup-button-icon"
                                        data-toggle="tooltip"
                                        data-original-title="Light Sidebar"
                                    ><i class="fas fa-sun"></i
                                    ></span>
                                </label>
                                <label class="selectgroup-item">
                                    <input
                                        type="radio"
                                        name="icon-input"
                                        value="2"
                                        class="selectgroup-input select-sidebar"
                                        checked
                                    />
                                    <span
                                        class="selectgroup-button selectgroup-button-icon"
                                        data-toggle="tooltip"
                                        data-original-title="Dark Sidebar"
                                    ><i class="fas fa-moon"></i
                                    ></span>
                                </label>
                            </div>
                        </div>
                        <div class="p-15 border-bottom">
                            <h6 class="font-medium m-b-10">Color Theme</h6>
                            <div class="theme-setting-options">
                                <ul class="choose-theme list-unstyled mb-0">
                                    <li title="white" class="active">
                                        <div class="white"></div>
                                    </li>
                                    <li title="cyan">
                                        <div class="cyan"></div>
                                    </li>
                                    <li title="black">
                                        <div class="black"></div>
                                    </li>
                                    <li title="purple">
                                        <div class="purple"></div>
                                    </li>
                                    <li title="orange">
                                        <div class="orange"></div>
                                    </li>
                                    <li title="green">
                                        <div class="green"></div>
                                    </li>
                                    <li title="red">
                                        <div class="red"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="p-15 border-bottom">
                            <div class="theme-setting-options">
                                <label class="m-b-0">
                                    <input
                                        type="checkbox"
                                        name="custom-switch-checkbox"
                                        class="custom-switch-input"
                                        id="mini_sidebar_setting"
                                    />
                                    <span class="custom-switch-indicator"></span>
                                    <span class="control-label p-l-10">Mini Sidebar</span>
                                </label>
                            </div>
                        </div>
                        <div class="p-15 border-bottom">
                            <div class="theme-setting-options">
                                <label class="m-b-0">
                                    <input
                                        type="checkbox"
                                        name="custom-switch-checkbox"
                                        class="custom-switch-input"
                                        id="sticky_header_setting"
                                    />
                                    <span class="custom-switch-indicator"></span>
                                    <span class="control-label p-l-10">Sticky Header</span>
                                </label>
                            </div>
                        </div>
                        <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
                            <a
                                href=""
                                class="btn btn-icon icon-left btn-primary btn-restore-theme"
                            >
                                <i class="fas fa-undo"></i> Restore Default
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- General JS Scripts -->
<script>
    $(document).ready(function () {
        // Lắng nghe sự kiện click trên nút "Giao hàng"
        $('#shippingBillButton').click(function () {
            // Hiển thị modal
            $('#shippingBill').modal('show');
        });
    });
</script>
<script th:src="@{/dashboard/js/app.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-s9udVU6FUv9ZIIZUmMz3JSr5rOxBuUa0WNb5Z3Eoo/Z9oY4C+96w6U9E/I5auS8D" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-pzjw8q+UA9eJlL5OGi1W93G7ZtNlZL63Ih/Y8k6zof2FglB/L9tPPqBqmZz02O7n" crossorigin="anonymous"></script>-->


<!-- JS Libraies -->
<!-- Page Specific JS File -->
<script th:src="@{/dashboard/bundles/datatables/datatables.min.js}"></script>
<script th:src="@{/dashboard/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/dashboard/bundles/datatables/export-tables/dataTables.buttons.min.js}"></script>
<script th:src="@{/dashboard/bundles/datatables/export-tables/buttons.flash.min.js}"></script>
<script th:src="@{/dashboard/bundles/datatables/export-tables/jszip.min.js}"></script>
<script th:src="@{/dashboard/bundles/datatables/export-tables/pdfmake.min.js}"></script>
<script th:src="@{/dashboard/bundles/datatables/export-tables/vfs_fonts.js}"></script>
<script th:src="@{/dashboard/bundles/datatables/export-tables/buttons.print.min.js}"></script>
<script th:src="@{/dashboard/js/page/datatables.js}"></script>

<!-- JS Libraies -->
<!--<script th:src="@{/dashboard/bundles/apexcharts/apexcharts.min.js}"></script>-->
<!--&lt;!&ndash; Page Specific JS File &ndash;&gt;-->
<!--<script th:src="@{/dashboard/js/page/index.js}"></script>-->
<!-- Template JS File -->
<script th:src="@{/dashboard/js/scripts.js}"></script>
<!-- Custom JS File -->
<script th:src="@{/dashboard/js/custom.js}"></script>
<!-- Thêm đoạn mã này sau khi tải các thư viện Bootstrap và jQuery -->
<!-- Thêm đoạn mã này sau khi tải các thư viện Bootstrap và jQuery -->
<!-- Thêm đoạn mã này sau khi tải các thư viện Bootstrap và jQuery -->
<!--&lt;!&ndash; Thêm đoạn mã này sau khi tải các thư viện Bootstrap và jQuery &ndash;&gt;-->
<!--<script th:inline="javascript">-->
<!--    $(document).ready(function () {-->
<!--        // Kích hoạt modal khi nút "Giao hàng" được nhấn-->
<!--        $('#shippingBill').click(function () {-->
<!--            var shippingBillModal = new bootstrap.Modal(document.getElementById('shippingBill'), {-->
<!--                backdrop: false, // Tắt lớp nền che phủ khi modal hiển thị-->
<!--            });-->
<!--            shippingBillModal.show();-->
<!--        });-->
<!--    });-->
<!--</script>-->
<!-- Thêm đoạn mã sau khi tải các thư viện Bootstrap và jQuery -->
<!-- Thêm đoạn mã sau khi tải các thư viện Bootstrap và jQuery -->
<!--<script th:inline="javascript">-->
<!--    $(document).ready(function () {-->
<!--        var shippingBillModal = new bootstrap.Modal(document.getElementById('shippingBillButton'), {-->
<!--            keyboard: false, // Tắt sử dụng bàn phím để đóng modal-->
<!--            backdrop: 'static', // Tắt lớp nền che phủ mờ-->
<!--        });-->

<!--        // Kích hoạt modal khi nút "Giao hàng" được nhấn-->
<!--        $('#shippingBill').click(function () {-->
<!--            shippingBillModal.show();-->
<!--        });-->

<!--        // Đặt sự kiện ẩn modal-->
<!--        $('#shippingBillButton').on('hidden.bs.modal', function () {-->
<!--            $('.modal-backdrop').remove();-->
<!--        });-->
<!--    });-->
<!--</script>-->
</body>

<!-- export-table.html  21 Nov 2019 03:56:01 GMT -->
</html>
