<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org"
>


<!-- auth-login.html  21 Nov 2019 03:49:32 GMT -->
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title> SneakBeer - Đăng nhập</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" th:href="@{/dashboard/css/app.min.css}">
    <link rel="stylesheet" th:href="@{/dashboard/bundles/bootstrap-social/bootstrap-social.css}">
    <!-- Template CSS -->
    <link rel="stylesheet" th:href="@{/dashboard/css/style.css}">
    <link rel="stylesheet" th:href="@{/dashboard/css/components.css}">
    <!-- Custom style CSS -->
    <link rel="stylesheet" th:href="@{/dashboard/css/custom.css}">
    <link rel='shortcut icon' type='image/x-icon' th:href="@{/dashboard/img/favicon.ico}"/>
</head>

<body>
<div class="loader"></div>
<div id="app">
    <section class="section">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h4>Login</h4>
                        </div>
                        <div class="card-body">
                            <form method="POST" action="/admin/login" class="needs-validation" th:object="${account}">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input id="email" type="email" class="form-control" tabindex="1" th:field="*{email}"
                                           required autofocus>
                                    <span th:if="${#fields.hasErrors('email')}"
                                          style="color: red; font-size: 13px"
                                          th:errors="*{email}"></span>
                                </div>
                                <div class="form-group">
                                    <div class="d-block">
                                        <label for="password" class="control-label">Password</label>
                                        <div class="float-right">
                                            <a href="auth-forgot-password.html" class="text-small">
                                                Forgot Password?
                                            </a>
                                        </div>
                                    </div>
                                    <input id="password" type="password" class="form-control" th:field="*{password}"
                                           tabindex="2" required>
                                    <span th:if="${#fields.hasErrors('password')}"
                                          style="color: red; font-size: 13px"
                                          th:errors="*{password}"></span>
                                </div>
<!--                                <div class="form-group">-->
<!--                                    <div class="custom-control custom-checkbox">-->
<!--                                        <input type="checkbox" name="remember" class="custom-control-input" tabindex="3"-->
<!--                                               id="remember-me">-->
<!--                                        <label class="custom-control-label" for="remember-me">Remember Me</label>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                        Đăng nhập
                                    </button>
                                </div>
                            </form>
<!--                            <div class="text-center mt-4 mb-3">-->
<!--                                <div class="text-job text-muted">Login With Social</div>-->
<!--                            </div>-->
<!--                            <div class="row sm-gutters">-->
<!--                                <div class="col-6">-->
<!--                                    <a class="btn btn-block btn-social btn-facebook">-->
<!--                                        <span class="fab fa-facebook"></span> Facebook-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                                <div class="col-6">-->
<!--                                    <a class="btn btn-block btn-social btn-twitter">-->
<!--                                        <span class="fab fa-twitter"></span> Twitter-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>
                    <div class="mt-5 text-muted text-center">
                        Don't have an account? <a href="auth-register.html">Create One</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- General JS Scripts -->
<script th:src="@{/dashboard/js/app.min.js}"></script>
<!-- JS Libraies -->
<!-- Page Specific JS File -->
<!-- Template JS File -->
<script th:src="@{/dashboard/js/scripts.js}"></script>
<!-- Custom JS File -->
<script th:src="@{/dashboard/js/custom.js}"></script>
</body>


<!-- auth-login.html  21 Nov 2019 03:49:32 GMT -->
</html>