<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org"
>


<!-- auth-reset-password.html  21 Nov 2019 04:05:02 GMT -->
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Otika - Admin Dashboard Template</title>
    <!-- General CSS Files -->
    <link th:href="@{/dashboard/css/app.min.css}" rel="stylesheet">
    <!-- Template CSS -->
    <link th:href="@{/dashboard/css/style.css}" rel="stylesheet">
    <link th:href="@{/dashboard/css/components.css}" rel="stylesheet">
    <!-- Custom style CSS -->
    <link th:href="@{/dashboard/css/custom.css}">
    <link rel='shortcut icon' type='image/x-icon' th:href="@{/dashboard/img/favicon.ico}"/>
</head>

<body>
<div class="loader"></div>
<div id="app">
    <section class="section">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h4>Khôi phục mật khẩu</h4>
                        </div>
                        <div class="card-body">
                            <p class="text-muted">Khôi phục mật khẩu</p>
                            <form method="POST" action="/admin/reset-password" th:object="${account}">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input id="email" type="email" class="form-control" th:field="*{email}" tabindex="1"
                                           readonly autofocus>
                                </div>
                                <div class="form-group">
                                    <label for="password">New Password</label>
                                    <input id="password" type="password" class="form-control pwstrength"
                                           data-indicator="pwindicator"
                                           name="password" tabindex="2" th:field="*{password}" required>
                                    <span th:if="${#fields.hasErrors('password')}"
                                          style="color: red; font-size: 13px"
                                          th:errors="*{password}"></span>
                                    <div id="pwindicator" class="pwindicator">
                                        <div class="bar"></div>
                                        <div class="label"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password-confirm">Xác nhận mật khẩu</label>
                                    <input id="password-confirm" type="password" class="form-control"
                                           name="confirm-password"
                                           tabindex="2" th:field="*{repassword}" required>
                                    <span th:if="${#fields.hasErrors('repassword')}"
                                          style="color: red; font-size: 13px"
                                          th:errors="*{repassword}"></span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                        Cập nhật mật khẩu
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- General JS Scripts -->
<script th:src="@{/dashboard/js/app.min.js}"></script>
<!-- JS Libraies -->
<!-- Page Specific JS File -->
<!-- Template JS File -->
<script th:src="@{/dashboard/js/scripts.js}"></script>
<!-- Custom JS File -->
<script th:src="@{/dashboard/js/custom.js}"></script>
</body>


<!-- auth-reset-password.html  21 Nov 2019 04:05:02 GMT -->
</html>